.splash{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 200;
    color: #20B2AA;
    text-align: center;
    line-height: 90vh;
}

@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{    
    line-height: 90vh;
    text-align: center;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.divider{
    height:1px;
    border-width:0;
    color:gray;
    background-color:gray;
    margin: 2rem 0; 
}

section{
    padding-top: 80px;
    padding-bottom: 20px;
}

.sticky{
    list-style-type: none;
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 15;
}

footer{
    width: 100%;
    height: 50px;
    padding-top: 100px;
    line-height: 50px;
    background: #333;
    position: absolute;
    bottom: 0px;
}

.content{
    padding-top: 100px;
    padding-bottom: 80px;
}

.slide-container{
    max-width: 1140px;
    width: 100%;
    margin: 0 40px;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
}   

.swiper.detailproduk{
    width: 800px;
    height: 400x;
}

.swiper-slide img.detail{
    width: 400px;
    height: 400px;
}

.swiper-slide video{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next{
    color: #20B2AA;
}

.swiper-button-prev.swiper-pb{
    color: #20B2AA;
    left: 0;
}

.swiper-button-next.swiper-pb{
    color: #20B2AA;
    right: 0;
}

.swiper .swiper-pagination-bullet-active{
    background-color: #20B2AA;
}